*{
    outline: none;
}
.user_name{
    display: inline-block;
}
.btn_edit{
    /*margin-top: 20px;*/
    margin-bottom: 10px;
    margin-left: 22px;
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
}
.right_side{
    text-align: right;
}
.user_add{
    margin-top: 20px;
    margin-bottom: 10px;
    /*margin-left: 22px;*/
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
}

.btn_add{
    margin: 20px 0;
    float: right;
}